[submodule "pack/nvim/start/nvim-lspconfig"]
	path = pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/nvim/start/clangd_extensions"]
	path = pack/nvim/start/clangd_extensions
	url = https://github.com/p00f/clangd_extensions.nvim
[submodule "pack/nvim/start/vista"]
	path = pack/nvim/start/vista
	url = https://github.com/liuchengxu/vista.vim
[submodule "pack/nvim/start/lightline"]
	path = pack/nvim/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/nvim/start/nvim-lsp-endhints"]
	path = pack/nvim/start/nvim-lsp-endhints
	url = https://github.com/chrisgrieser/nvim-lsp-endhints
[submodule "pack/nvim/start/nvim-treesitter"]
	path = pack/nvim/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/colours/tender"]
	path = pack/colors/start/tender
	url = https://github.com/jacoborus/tender.vim
[submodule "pack/colors/tokyonight"]
	path = pack/colors/start/tokyonight
	url = https://github.com/folke/tokyonight.nvim
[submodule "pack/colors/start/vim-eldar"]
	path = pack/colors/start/eldar
	url = https://github.com/agude/vim-eldar
[submodule "pack/nvim/start/gitsigns"]
	path = pack/nvim/start/gitsigns
	url = git@github.com:lewis6991/gitsigns.nvim.git
